html, body {
    font-family: 'Raleway', Arial, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
    background-image: url(../imagens/bg.png);
    background-position: center;
    font-size: 25px;
}

.indice {
    top: 85px;
    border-right: 2px solid rgb(162, 165, 166);
    position: fixed;
    min-width: 30px;
    height: 100%;
    width: 110px;
    background: transparent;
    
    
}
.indice__caixa {
    margin: 0;
    height: 70%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.indice__item {
    padding: 0.17rem 0 0.17rem 0;
    font-size: 0.6rem;
    text-align: center;
}

.indice__item:hover {
    background: rgb(162, 165, 166);
    border-radius: 10px;
}

.indice__item a:hover {
    color: aliceblue;
}

.indice__item a {
    text-decoration: none;
    color: black;
}



#main {
    position: absolute;
    background:linear-gradient(
        90deg, 
        rgba(244, 249, 250, 0.5), 
        rgba(244, 249, 250, 0.5)
        );
    margin: 0 120px 0 120px;
    border-radius: 10px;
}

img {
    max-width: fit-content;
}

.cabecalho__brasao {
   text-align: center;
   background: linear-gradient(
    90deg, 
    rgba(244, 249, 250, 0.5), 
    rgba(244, 249, 250, 0.5)
    );
    border-radius: 10px;
}

.img__brasao {
    width: 80px;
}

#title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 10px;
}

.subTitulo {
    text-align: center;
    margin: 30px 0;
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
}


#image {
    display: block;
    width: 80vmin;
    border-radius: 5px;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    color: darkgrey;
    font-size: 0.75rem;
    margin-top: 0;
}

#headline {
    margin: 30px 0;
    padding: 0 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

main ul {
    padding: 0 30px;
}

li {
    text-align: justify;
    padding-top: 1rem;
}

h3 {
    margin: 1.5rem 0 0 0;
    font-size: 1.2rem;
    text-align: left;
}

li strong, h3 strong {
    font-weight: bold;
}

footer, .wiki {
    text-align: center;
    margin: 20px auto;
    font-size: 1rem;
}

footer p {
    font-style: italic;
}

@media screen and (max-width: 940px) {
    .indice {
        display: none;
    }

    #main {
        margin: 10px auto;
    }
    
    img {
        max-width: 100%;
    }

    .brasao{
        max-width: 25%;
    }
    
    #title {
        font-size: 1.5rem;
        margin: 0 2px;
    }

    .subTitulo {
        font-size: 0.9rem;
    }
    
    #img-caption {
        font-size: 0.54rem;
    }

    #headline {
        font-size: 0.9rem;
    }

    main ul {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    
}
